* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
h1{
    font-size: 10rem;
color: rgb(212, 208, 208);
text-align: center;
font-weight: bold;
font-style: italic;
line-height: 10rem;
letter-spacing: 1rem;
}
h2{
  color: black;
  font-size: 4rem;
}
h3{
  color: rgb(201, 204, 204);
  font-size: 3rem;
}

  nav{
    background-color: 
    gray;
    width: 100%;
    max-width: 2560px;
    height: 10vh;
  }  

  header{
    width: 100%;
    background-color:
    aquamarine;
    height: 90vh;
    background-image: url("./MicrosoftTeams-image.png");
    background-repeat: no-repeat;
    background-size:cover;

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .section_tipo1{
    width: 100%;
    background-color:aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .seccion_tipo1 article .contenedor_cajas{
    width: 100%;
    background-color: brown;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;

  }

  .caja{
    width: 200px;
    height: 400px;
    min-width: 200px;
    min-height: 400px;

    background-color: beige;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .caja img{
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

